@model Control_Escolar.Models.Accion
@{
    var accion = ViewData["accion"] as Control_Escolar.Models.Accion;
}

    <h1>Modificar Accion</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Detalles de Accion: @accion.ID</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => accion.ID)

    <div class="form-group">
        @Html.LabelFor(model => accion.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => accion.Nombre, new { htmlAtributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => accion.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modificar" class=" btn-default" />
        </div>
    </div>

</div>
        //@Html.Action("Regresar al catalogo de Usuarios", "Index")
    }