
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tablaEscuelas").DataTable();
        });

        function agregarEscuela() {
            //Hacemos una redireccion a
            document.location = "/Escuela/Add/";
        }

        function editarEscuela(idEscuela) {
            //Hacemos una redireccion a
            document.location = "/Escuela/Edit/" + idEscuela;
        }

        function borrarEscuela(idEscuela) {
            console.log(idEscuela);
            document.location = "/Escuela/Delete/" + idEscuela;
        }

        function carrerasEscuela(idEscuela) {
            console.log(idEscuela);
            document.location = "/CarreraEscuela/Index/" + idEscuela;
        }
    </script>
    <h1>Administración de Escuelas</h1>
    <br />
    <div class="row">
        <div class="col-md-6 bg-light text-right">
        </div>
        <div class="col-md-2 bg-light text-right">
            <input type="button" value="Agregar Escuela" onclick="agregarEscuela()" />
        </div>
        <div class="col-md-4 bg-light text-right">
            @Html.Partial("~/Views/Shared/Buscador.cshtml")
        </div>
    </div>
    <br />

    <table id="tablaEscuelas" class="display" style="width:90%;margin-left:auto;scroll-margin-right:auto;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Status</th>
                <th>Controles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var escuela in ViewData["catalogoEscuelas"] as List<Control_Escolar.Models.Escuela>)
            {
                <tr>
                    <td>@escuela.ID</td>
                    <td>@escuela.Nombre</td>
                    <td>@escuela.Ubicacion.Nombre</td>
                    <td>@escuela.Status.Nombre</td>
                    <td>
                        <input type="button" value="Editar" onclick="editarEscuela('@escuela.ID')" />
                        <input type="button" value="Borrar" onclick="borrarEscuela('@escuela.ID')" />
                        <input type="button" value="Carreras" onclick="carrerasEscuela('@escuela.ID')" />
                    </td>
                </tr>
            }


        </tbody>
    </table>