@model Control_Escolar.Models.Usuario
@{
    var usuario = ViewData["usuario"] as Control_Escolar.Models.Usuario;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#tablaUsuarios").DataTable();
    });

    function agregarCarrera(idUsuario) {
        //Hacemos una redireccion a
        document.location = "/UsuarioCarrera/Add/" + idUsuario;
    }

    function borrarCarrera(idUsuario, idCarrera) {
        console.log("Usuario: " + idUsuario + "," + "Carrera: " + idCarrera);
        document.location = "/UsuarioCarrera/Delete/" + idUsuario + "_" + idCarrera;
    }
</script>
<h1>Usuario: @usuario.Correo</h1>
<h4>Asignacion de Carreras </h4>
<br />
<div class="row">
    <div class="col-md-6 bg-light text-right">
    </div>
    <div class="col-md-2 bg-light text-right">
        <input type="button" value="Agregar Carrera" onclick="agregarCarrera(@usuario.ID)" />
    </div>
    <div class="col-md-4 bg-light text-right">
        @Html.Partial("~/Views/Shared/Buscador.cshtml")
    </div>
</div>
<br />

<table id="tablaUsuarios" class="display" style="width:90%;margin-left:auto;scroll-margin-right:auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Status</th>
            <th>Controles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carrera in usuario.Carreras as List<Control_Escolar.Models.Carrera>)
        {
            <tr>
                <td>@carrera.ID</td>
                <td>@carrera.Nombre</td>
                <td>@carrera.Status.Nombre</td>
                <td>
                    <input type="button" value="Borrar" onclick="borrarCarrera(@usuario.ID,@carrera.ID)" />
                </td>
            </tr>
        }


    </tbody>
</table>